.fa-ul {
    margin-left: 1.6em!important;
}

.schedulelist{
    display: inline;
}

.footer-comment {
    padding-left: 24px;
    padding-right: 24px;
}

.calendar-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsiveCal {

position: relative; padding-bottom: 75%; height: 0; overflow: hidden;

}

.responsiveCal iframe {

position: absolute; top:0; left: 0; width: 100%; height: 100%;

}

.embed-responsive-4by3 {
    padding-bottom: 60%!important;
}

figure.swipe {
  display:block;
  position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden;
}

figure.swipe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;height:100%;
  border:none;
}

#error {
    text-align: center;
}

.up-arrow {
    text-align: center;
    font-size: 4em;
    margin-bottom: -10px;
}
.myheader {
    background-color: #464646;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 210px;
}
.sidebar-content {
    margin-bottom: 14px!important;
}
.sidebar-content h5 {
    color: #666666;
    margin-top: 24px;
    margin-bottom: 2px;
}
.topstickypost h3 {
    color: #666666;
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .myheader {
        height: 170px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 700px) {
    .myheader {
        height: 130px;
    }
}
@media only screen and (max-width: 480px) {
    .myheader {
        height: 90px;
    }
}
